<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-hellp" version="0.1.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>hellp</name>
    <js-module name="hellp" src="www/hellp.js">
        <clobbers target="cordova.plugins.hellp" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="hellp">
                <param name="ios-package" value="hellp" />
            </feature>
        </config-file>
        <source-file src="src/ios/hellp.m" />
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="hellp">
                <param name="android-package" value="cordova.plugin.hellp.hellp" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/hellp.java" target-dir="src/cordova-plugin-hellp/hellp" />
    </platform>
</plugin>